@page "/"
@using GameStore.Frontend.Clients
@using GameStore.Frontend.Models

<PageTitle>Game Catalog</PageTitle>

<table class="w-225 m-auto my-48 p-10">
   <thead class="bg-gray-700 text-white">
        <tr>
            <th class="text-center p-3">Id</th>
            <th class="text-center p-3">Name</th>
            <th class="text-center p-3">Genre</th>
            <th class="text-center p-3">Price</th>
            <th class="text-center p-3">Release Date</th>
            <th class="text-center p-3"></th>
        </tr>
    </thead>
    <tbody>
        @if( games.Count > 0){
            @foreach (var game in games) {
                <tr>
                    <td class="p-3">@game.Id</td>
                    <td class="text-start">@game.Name</td>
                    <td>@game.Genre</td>
                    <td class="text-end">@game.Price.ToString("C2")</td>
                    <td class="text-end">@game.ReleaseDate</td>
                    <td></td>
                </tr>
            }
        } else {
            <tr>
                <td colspan="6" class="text-center p-10">There are no games!</td> 
            </tr>
        }
    </tbody>
</table>

@code {
    private GamesClient gameClient = new();
    private List<GameSummary> games = [];

    protected override void OnInitialized()
    {
        games = gameClient.GetGameSummaries();
    }
}